%h1 Posts

- @test_levels = {Date.today => 100, Date.tomorrow => 120}

= line_chart @levels

%table.table.table-striped.table-hover
	%thead
		%tr
			%th #
			%th Date Created
			%th Level
	%tbody
		= render @posts
